<div class="container">
	<div class="row">
    	<div class="col-md-6 col-md-offset-3">
     	 <div class="well">
			<h1> Website </h1>
				<br>
				<br>
				<div class="container">
						<li>Jeison Jair Ariza Pulido </li> 
						<li>Profesión: Estudiante Ingeniería Electrónica</li> 
						<li>Telefono: 4133386</li> 
						<li>Celular: 3134723359</li> 
						<li>Email: jeisonariza@gmail.com</li> 
						<br>
				</div>

				<div class="container">

				<%= link_to 'Profiles', controller: 'articles'%>
		 </div>
      </div>
  </div>
</div>

