<div class="container">
	<h1> Website </h1>
</div>
<br>
<br>
<div class="container">
	<ul> 
		<li>Jeison Jair Ariza Pulido </li> 
		<li>Profesion: Estudiante Ingeniería Electrónica</li> 
		<li>Telefono: 4133386</li> 
		<li>Celular: 3134723359</li> 
		<li>Email: jeisonariza@gmail.com</li> 
	</ul>

</div>

<div class="container">
<%= link_to 'Users', controller: 'articles' %>
</div>

